/*
  Student Name: Shannon Kueneke
  File Name: assets/css/styles.css
  Date: June 13, 2025
*/

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
ul,
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* global styles */
body,
nav {
  max-width: 1600px;
  /*min-width: 425px;*/
  margin: 0 auto;
}

/*nav {
  min-width: 380px;
}*/

h1,
h2,
nav a,
nav span,
figcaption {
  /* weight 300 - 700 */
  font-family: "Comfortaa", sans-serif;
  color: #2e1605;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 1em;
}

p,
a,
span,
h3,
h4,
h5,
h6,
li {
  /* weight 100 - 900 */
  font-family: "Urbanist", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #2e1605;
}

p {
  line-height: 1.3em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  font-weight: bold;
}

main section > *,
header section,
nav {
  margin: 0 auto;
}

.script {
  font-family: "Passions Conflict", cursive;
  font-weight: 400;
  font-style: normal;
}

.desktopOnly,
.printOnly {
  display: none;
}

.bold {
  font-weight: bold;
}

.darkPink {
  color: #bf614f;
}

.center {
  text-align: center;
}

/* header */
header {
  position: fixed;
  z-index: 99;
  padding: 1em 1.5em;
}

/* nav */
nav {
  width: 98%;
  background-color: #ffb5a7;
  border-radius: 5em;
  margin-top: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #fff;
}

#logo {
  border-radius: 100%;
  height: 3em;
  width: 3em;
  background: #f8edeb;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2em;
}

#logo div {
  position: relative;
  top: -1em;
  left: 0.3em;
}

#logo span:not(.script) {
  font-size: 2em;
  text-transform: uppercase;
}

#logo .script {
  font-size: 4.5em;
  position: relative;
  top: -0.16em;
  left: 0.06em;
}

nav img.mobileOnly {
  cursor: pointer;
}

nav ul {
  height:0;
  overflow:hidden;
  transition: all 0.5s ease-in-out;
}

nav.open ul {
  height:264px;
}

nav img {
  height:3em;
  overflow:hidden;
  transition: all 0.5s ease-in-out;
}
nav.open img {
  height:0;
}

nav img.mobileOnly {
  max-width: 3em;
  margin-left: 1em;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

nav li {
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
}
/* THIS IS ONE PSEUDO CLASS NOT USED IN BOOK */
nav li:not(:last-of-type) {
  border-bottom: 1px solid black;
}

/* THIS IS ONE PSEUDO CLASS NOT USED IN BOOK */
nav li:last-of-type {
  font-size: 2em;
  padding-bottom: 0;
}

nav li a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

nav li a.active {
  font-weight: bold;
}

nav table tbody {
  float: right;
  margin-right: 2em;
}

nav td {
  padding: 1em 2em;
}

/* main */
main section {
  padding: 2.5em 2em;
}

body:not(#home) main {
    padding-top: 3em;
}

main > div h1 {
  text-align: center;
}

main > div h1 span {
  font-size: 3.5em;  
  padding-left:1%;
}

#secondary main h1 span {
  font-size: 2.5em;
}

main section h2 {
  padding-bottom: 1em;
}

main p {
  padding-bottom: 2em;
}

main img {
  box-shadow: #535252 2px 3px 6px;
  border-radius: 5em;
  max-width: 20em;
}

main section p:last-of-type {
  padding-bottom: 0;
}

/* banner */
#banner {
  background-color: #fff;
}

#home #banner {
  padding: 0;
  padding-top: 7em;
  width: 100%;
}

#home #banner > div {
  margin: 0;
  position: relative;
  width: 100%;
}

#home #banner h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: -1em;
}

#home #banner h1 {
  font-size: 3.5em;
}

#home #banner h1 span {
  display: block;
  text-transform: lowercase;
  font-size: 3em;
  position: relative;
  top: 48px;
}

.photoBubble {
  box-shadow: #535252 2px 3px 6px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  border: 4px solid #fcd5c5;
  position: relative;
}

#photoBg {
  background-image: url(../images/selfie5.jpeg);
  background-size: 183%;
  position: absolute;
  height: 12em;
  width: 12em;
  border-radius: 12em;
  top: -11%;
  left: 50%;
  transform: translateX(-50%);
}

#photoBg2 {
  background-image: url(../images/clem.jpeg);
  height: 7em;
  width: 7em;
  border-radius: 7em;
  right: -37%;
  bottom: -3em;
}

#photoBg3 {
  background-image: url(../images/kid.jpeg);
  height: 7em;
  width: 7em;
  border-radius: 7em;
  z-index: 9;
  left: 1%;
  bottom: -2em;
}

/*main section:first-of-type {*/
#goals,
#about,
#hobbies {
  background-color: #f8edeb;
}

#accomplishments {
  background-color: #fcd5ce;
}

aside {
  background: #fff;
  padding: 1em 3em 2em 3em;
  border-radius: 5em;
}

aside ul {
  list-style: none;
}

aside ul li span {
  font-size: 0.9em;
}

aside ul li {
  margin: 1em 0;
}

aside span em {
  padding-left: 1.5em;
}

aside h3 {
  font-size: 4em;
}

.sectionContainer > div:first-of-type {
  padding-bottom:2em;
}

#accomplishments img {
  margin:0 auto;
  display: block;
}

/* about, hobbies page */
.grid {
  display: grid;
  grid-template-columns: auto;
  column-gap: 5em;
  row-gap: 5em;
}

#hobbies .grid {
  column-gap: 0;
  row-gap: 0;
  margin-bottom: 3em;
}

#hobbies h2 {
  padding-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

#hobbies > div > p {
  text-align: center;
}

main section#hobbies p:last-of-type {
  margin-bottom: 2em;
}

figure img {
  border:1px solid #bf614f;
  margin: 0 auto;
  margin-bottom: 1em;
  display: block;
  width:100%;
  border-radius: 2em;
}

figcaption {
  text-align: center;
}


/* footer */
footer {
  background-color: #fff;
  padding: 0.7em;
}

footer p {
  text-align: center;
  font-size: 0.8em;
}

@media screen and (min-width:425px) and (max-width:767px) {
  /*TODO: fix the funky banner imgs for this no mans zone*/

  #photoBg {
    height: 14em;
    width: 14em;
    border-radius: 14em;
    top: -8%;
  }

  #photoBg2 {
    height: 10em;
    width: 10em;
    border-radius: 10em;
    right: -50%;
  }

  #photoBg3 {
    height: 9em;
    width: 9em;
    border-radius: 9em;
    left: 7%;
  }
}



/* tablet+ */
@media screen and (min-width: 768px) {
  .desktopOnly {
    display: block;
  }

  .mobileOnly {
    display: none;
  }

  nav {
    margin-top:1em;
  }

  #secondary main h1 span {
    font-size: 3.5em;
    padding-left:1%;
  }

  #home #banner {
    padding-top: 0;
  }

  #banner section {
    display: flex;
    flex-wrap: nowrap;
  }

  #home #banner .photoBubble {
    position: absolute;
  }

  #home #banner h1 {
    text-align: center;
    font-size: 4em;
    margin: 0;
    padding-left: 1em;
  }

  #home #banner h1 span {
    top: 53px;
  }

  #photoBg {
    height: 11em;
    width: 11em;
    border-radius: 11em;
    right: 3%;
    top: 21%;
    left: unset;
    transform: unset;
  }

  #photoBg2 {
    height: 9em;
    width: 9em;
    border-radius: 9em;
    bottom: 0;
    left: 5%;
  }

  #photoBg3 {
    height: 7em;
    width: 7em;
    border-radius: 7em;
    z-index: 9999;
    top: 10%;
    left: 22%;
  }

  body:not(#home) main {
    padding-top: 5em;
  }

  main section:not(#banner) {
    padding: 2.5em 2em;
  }

  .sectionContainer {
    display: inline-flex;
  }

  .text {
    padding: 0 2em 0 0;
  }

  #accomplishments .text,
  #accomplishments h2 {
    text-align: right;
  }

  #accomplishments .text {
    padding: 0 0 0 3em;
  }

  .facts aside {
    min-width: 11em;
    padding:1em 2em 2em;
  }

  .facts aside h3 {
    font-size: 2.5em;
  }

  .facts aside li span {
    font-size:0.8em;
  }  

  .sectionContainer > div:first-of-type {
    padding-bottom:unset;
  }

  #hobbies .grid {
    grid-template-columns: auto auto;
  }

  figure img {
    width: unset;
    height:333px;
  }
}

/* small laptop+ */
@media all and (min-width: 1024px) {
  #home #banner h1 {
    font-size: 5em;
  }

  #photoBg {
    height: 15em;
    width: 15em;
    border-radius: 15em;
    right: 5%;
    top: 5%;
    background-size: cover;
  }

  #photoBg2 {
    height: 12em;
    width: 12em;
    border-radius: 12em;
  }

  #photoBg3 {
    height: 9em;
    width: 9em;
    border-radius: 9em;
  }

  .facts {
    min-width: 33%;
  }

  .text {
    padding: 0 4em 0 0;
  }

  .facts aside li span {
    font-size: 0.9em;
  }

  .grid {
    grid-template-columns: auto auto;
  }

  #hobbies .grid {
    grid-template-columns: auto auto auto;
  }
}
/* large laptop+ */
@media all and (min-width: 1440px) {
  #photoBg {
    height: 20em;
    width: 20em;
    border-radius: 20em;
    /*right: 8em;
      top: 0;*/
  }

  #photoBg2 {
    height: 15em;
    width: 15em;
    border-radius: 15em;
    /*bottom: 0;
      left: 4em;*/
  }

  #photoBg3 {
    height: 12em;
    width: 12em;
    border-radius: 12em;
    /*top: 2em;
      left: 20em;*/
  }

  .facts {
    min-width: 30%;
  }

}

/* extra large desktop */
@media screen and (min-width: 1601px) {
  body {
    background: linear-gradient(#fff, #f8edeb, #fcd5ce, #fff);
    height: 100vh;
  }

  #banner {
    background-color: rgb(255 255 255 / 20%);
  }

  #goals {
    background-color: rgb(248 237 235 / 20%);
  }  

  #accomplishments {
    background-color: rgb(252 213 206 / 20%);
  }

  #hobbies,
  #about,
  footer { 
    background-color: transparent;
  }
}

/* tiny phones */
@media screen and (max-width:351px) {
  body {
    min-width:425px;
  }
}

/*print */
@media print {

  .printOnly {
    display: block;
  }

  header,
  #home .photoBubble,
  footer,
  .hidePrint {
    display: none;
  }

  section {
    background-color: #fff;
  }

  .facts aside {
    border:1px solid #000;
  }

  .facts.printOnly {
    break-inside: avoid;
  }

  #banner {
    margin-top: -7em;
  }
  
}
